<div class="row">
<% @list_items.each do |item| %>
  <div class="col-sm-4 col-md-3">
    <div class="thumbnail">
      <%= image_tag(item.venue_photo, :alt => item.venue_name, :title => item.venue_name) %>
      <div class="caption">
        <p>
          <div class="row">
            <div class="col-lg-8 text-right"><%= item.venue_name %></div>
            <div class="col-md-4"><%= link_to "Add", venues_path(:fs_id => item.venue_id, :photo => item.venue_photo, :name => item.venue_name), :class => "btn btn-primary", :method => :post, :remote => true %></div>
          </div>
        </p>
      </div>
    </div>
  </div>
<% end %>
</div>

<%= paginate @list_items %>