<h1><%= current_user.name %></h1>
<p>Wishlist:</p>
-----------------------------------------------------------------------------
<div id="wishlist-container">
    <%= render partial: 'wishlist' %>
</div>
<p>Checkins:</p>
<div id="list-container">
  <%= render partial: 'list' %>
</div>

<%= link_to 'Logout', signout_path %>